* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #e0dfd6;
}

@media screen and (min-width: 320px) {
  .navbar {
    background: #cfe4dd;
    position: sticky;
    top: 0;
  }

  .navbar__wrapper {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar img {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navbar__wrapper {
    justify-content: start;
  }

  .navbar p {
    font-size: 18px;
    margin-left: 10px;
  }

  .navbar img {
    display: block;
  }
}

@media screen and (min-width: 320px) {
  .content__wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .content__title {
    font-weight: 600;
    font-size: 18px;
    color: #1f4757;
  }

  .item {
    width: 100%;
    padding: 10px;
    background: #0b3057;
    border: 0;
    border-radius: 5px;
    color: rgb(230, 230, 230);
    font-size: 16px;
    font-weight: 400;
  }

  .item:active {
    background: #1f4757;
  }
}

@media screen and (min-width: 768px) {
  .content__wrapper {
    padding: 30px;
  }

  .content__title {
    font-size: 24px;
  }

  .item {
    padding: 20px;
    font-size: 18px;
    transition: 0.3s;
    cursor: pointer;
  }

  .item:hover {
    background: #1f4757;
    -webkit-box-shadow: 8px 5px 11px 5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 8px 5px 11px 5px rgba(34, 60, 80, 0.2);
    box-shadow: 8px 5px 11px 5px rgba(34, 60, 80, 0.2);
  }
}

.footer {
  border-top: 1px solid rgb(203, 203, 203);
}

.footer__wrapper {
  padding: 30px;
}
